<button type="button" class="btn btn-outline-primary mt-3" routerLink="/breeds/add">Add Breed</button>

<!-- Modal error -->
<div class="modal fade" id="errorModal" role="alertdialog" data-toggle="modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="vanishError()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h3>{{errorMessage}}</h3>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
