<!-- Horse pills -->
<nav class="nav nav-pills nav-fill justify-content-center">
  <a class="nav-link m-3" routerLinkActive="active" routerLink="/horses/list">Horse List</a>
  <a class="nav-link m-3" routerLinkActive="active" routerLink="/horses/add">Add Horse</a>
</nav>

<!-- Modal error -->
<div class="modal fade" id="errorModal" role="alertdialog" data-toggle="modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="vanishError()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h3>{{errorMessage}}</h3>
      </div>
    </div>
  </div>
</div>
<!-- Horse edit -->
<app-horse-edit [editBreedList]="breedList"></app-horse-edit>
<!-- Horse delete -->
<app-horse-delete></app-horse-delete>
<router-outlet></router-outlet>
