<span id="horse-search" (keydown)="keyPress($event)">
  <div class="input-group mb-3 mt-3">
    <!-- Search form -->
    <div class="input-group-prepend">
      <span class="input-group-text" >Search</span>
    </div>
    <input class="form-control" type="text" placeholder="Name" [(ngModel)]="searchParam.name">
    <input class="form-control" type="text" placeholder="Description" [(ngModel)]="searchParam.description">
    <input type="date" class="form-control" [(ngModel)]="searchParam.birthDate"  id="datePicker">
    <select class="custom-select" [(ngModel)]="searchParam.isMale">
      <option value="null">Both</option>
      <option value="true">Male</option>
      <option value="false">Female</option>
    </select>
    <select class="custom-select" [(ngModel)]="searchParam.breed.id">
      <option value="null">No specific breed</option>
      <option *ngFor="let breed of breedListTable" value="{{breed.id}}">{{breed.name}}</option>
    </select>
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary">
        <i class="material-icons float-right" (click)="findHorses(searchParam)">search</i>
      </button>
    </div>
  </div>
</span>

  <div class="card mb-2" *ngFor="let horse of horseListTable; trackBy: trackId">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-link btn-lg" [routerLink]="['/horses', horse.id, 'details']"> <h1> {{horse.name}} </h1></button>
        </div>
        <div class="col-md-4">
          <h1 class="mt-2">{{horse.birthDate}}</h1>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#horse-edit" (click)="selectHorseEdit(horse)">
            <i class="material-icons">edit</i>
          </button>
          <button class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#horse-delete" (click)="selectHorseDelete(horse)">
            <i class="material-icons">delete</i>
          </button>
          <button class="btn btn-outline-info float-right" [routerLink]="['/horses', horse.id, 'family_tree']">
            Family Tree
          </button>
        </div>
      </div>
    </div>
  </div>
