<!-- Modal success -->
<div class="modal fade" id="successAddModal" role="alertdialog" data-toggle="modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h3>Saving horse successful!</h3>
      </div>
    </div>
  </div>
</div>

<!-- Horse Add -->
<div class="input-group mb-3 mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Name</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="newHorse.name">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Description</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="newHorse.description" placeholder="optional">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Birthdate</span>
  </div>
  <input type="date" class="form-control"  [(ngModel)]="newHorse.birthDate">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Sex</span>
  </div>
  <select class="custom-select" [(ngModel)]="newHorse.isMale">
    <option value="null" selected disabled hidden>Please select the sex of the horse</option>
    <option value="true">Male</option>
    <option value="false">Female</option>
  </select>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Breed</span>
  </div>
  <select class="custom-select" [(ngModel)]="newHorse.breed">
    <option selected disabled hidden>Please select a breed</option>
    <option [ngValue]="unspecificBreed" >No specific breed</option>
    <option *ngFor="let breed of addBreedList" [ngValue]="breed">{{breed.name}}</option>
  </select>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Father </span>
  </div>
  <select class="custom-select" [(ngModel)]="newHorse.fatherId">
    <option value="0">Unknown</option>
    <ng-container *ngFor="let horse of addHorseList" >
      <option *ngIf="horse.isMale == true" value="{{horse.id}}" >{{horse.name}}</option>
    </ng-container>
  </select>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Mother </span>
  </div>
  <select class="custom-select" [(ngModel)]="newHorse.motherId">
    <option value="0">Unknown</option>
    <ng-container *ngFor="let horse of addHorseList" >
      <option *ngIf="horse.isMale == false" value="{{horse.id}}" >{{horse.name}}</option>
    </ng-container>
  </select>
</div>
<button type="button" class="btn btn-outline-primary btn-block" (click)="addHorse(newHorse)">Add horse</button>
